CompileFlags:
    Add:
        - --target=x86_64-elf
        - -m64
        - -nostdlib
        - -nostdlibinc
        - -fno-builtin
        - -fno-stack-protector
        - -nostartfiles
        - -nodefaultlibs
        - -ffreestanding
        - -Wall
        - -Wextra
        - -Iuser/libc/include
        - -Iinclude
